body{
    background-color: #212529;
    margin-top: 1%;
}

.row{
    margin-top: 1%;
}


/*canvas for aoi over cameraImage */
:root{
    --width: 0px;
}

.outsideWrapper{                                    /*dynamisch!!!*/
    width:  var(--width);                           /*dynamisch!!!*/
    height: calc(var(--width)/1.3333333);           /*dynamisch!!!*/
}
.insideWrapper{
    width:100%;
    height:100%;
    position:relative;
}
.coveredImage{
    width:100%;
    height:100%;
    position:absolute;
}
.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

/*Status*/
.info{
    font-size: smaller;
    margin: 0px;
    white-space: nowrap;
    text-align: start;
}

/*TEXT*/
.myText{
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: x-large;
    font-family: "Calibri";
}

/*BUTTON*/
.myBtn{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
}

/*ALARM*/
.sign {
    text-align: center;
    white-space: nowrap;

    color: #212529;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    font-size: xx-large;

    padding: 0px;
    max-width: 200px;
    border-radius: 10px;
}

/*Slag + Total Slag Percentage*/
.sign2{
    -webkit-text-fill-color: rgba(220, 0, 0, 1);
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    padding: 0px;
    max-width: 100px;
    border-radius: 5px;
}

.message{
    max-height: 30px;
    z-index: 1;
    opacity: 45%;
    position: absolute;
    left: 40%;
    top: 2%;
    display: none !important;
}

/*MEDIA QUERIES*/
/*media queries for different display resolutions*/
@media (min-width: 0px) {
    .coveredImage {
        left: -10px;
    }
    .coveringCanvas {
        left: -10px;
    }
    .myBtnDiv{
        margin-left: -28%;
    }
    #timeChart{
        margin-left: 20%;
    }
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    .coveredImage {
        left: -20px;
    }
    .coveringCanvas {
        left: -20px;
    }
    .slagSign{
        margin-left: 23%;
    }
    .totalSlagSign{
        margin-left: 57%;
        margin-top: -9.2%;
    }
    .myBtnDiv{
        margin-left: -33%;
    }
    #timeChart{
        margin-left: 20%;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .coveredImage {
        left: 0%;
    }
    .coveringCanvas {
        left: 0%;
    }
    .slagSign{
        margin-left: 18%;
    }
    .totalSlagSign{
        margin-left: 47%;
        margin-top: -6.8%;
    }
    .myBtnDiv{
        margin-left: -33%;
    }
    #timeChart{
        margin-left: 6%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .coveredImage {
        left: 20%;
    }
    .coveringCanvas {
        left: 20%;
    }
    .slagSign{
        margin-left: 14%;
    }
    .totalSlagSign{
        margin-left: 35%;
        margin-top: -5.2%;
    }
    .myBtnDiv{
        margin-left: -23%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .coveredImage {
        left: 35%;
    }
    .coveringCanvas {
        left: 35%;
    }
    .slagSign{
        margin-left: 12%;
    }
    .totalSlagSign{
        margin-left: 30%;
        margin-top: -4.4%;
    }
    .myBtnDiv{
        margin-left: -18%;
    }
    #timeChart{
        margin-left: 5%;
    }
}
@media (min-width: 1400px) {
    .coveredImage {
        left: 0px;
    }
    .coveringCanvas {
        left: 0px;
    }
    .slagSign{
        margin-left: 50%;
    }
    .totalSlagSign{
        margin-left: 15%;
        margin-top: 0%;
    }
    .myBtnDiv{
        margin-left: 0.5%;
    }
    #timeChart{
        margin-left: 5%;
    }
    .drawAOI{
        margin-left: 10%;
    }
}

